###########################################################
# OUR ROUTER'S FIXSERVER INSTANCE
[ROUTER_ACCEPTOR]
#cpu_core_id=2
accept_port=5001
#nic_address=YOUR_NIC_IP
#nic_name=YOUR_NIC_NAME

###########################################################
# INBOUND SESSIONS
[SESSION_INBOUND1]
begin_string=FIXT.1.1
default_app_ver_id=7
sender_comp_id=ROUTER
target_comp_id=INBOUND1
throttle_window_in_milliseconds=1000
throttle_limit=100
throttle_action=WAIT
sequence_store_file_path=serialisations/INBOUND1/sequence.store
incoming_message_serialisation_path=serialisations/INBOUND1/messages_incoming
outgoing_message_serialisation_path=serialisations/INBOUND1/messages_outgoing

[SESSION_INBOUND2]
begin_string=FIXT.1.1
default_app_ver_id=7
sender_comp_id=ROUTER
target_comp_id=INBOUND2
throttle_window_in_milliseconds=1000
throttle_limit=100
throttle_action=WAIT
sequence_store_file_path=serialisations/INBOUND2/sequence.store
incoming_message_serialisation_path=serialisations/INBOUND2/messages_incoming
outgoing_message_serialisation_path=serialisations/INBOUND2/messages_outgoing