###########################################################
# 1ST OUTBOUND SESSION'S FIXCLIENT INSTANCE
[CLIENT_OUTBOUND1]
primary_address=127.0.0.1
primary_port=5002

###########################################################
# 1ST OUTBOUND SESSION
[SESSION_OUTBOUND1]
begin_string=FIXT.1.1
default_app_ver_id=7
sender_comp_id=ROUTER
target_comp_id=OUTBOUND1
heartbeat_interval_seconds=10
throttle_window_in_milliseconds=1000
throttle_limit=100
sequence_store_file_path=serialisations/OUTBOUND1/sequence.store
incoming_message_serialisation_path=serialisations/OUTBOUND1/messages_incoming
outgoing_message_serialisation_path=serialisations/OUTBOUND1/messages_outgoing

###########################################################
# 2ND OUTBOUND SESSION'S FIXCLIENT INSTANCE
[CLIENT_OUTBOUND2]
primary_address=127.0.0.1
primary_port=5003

###########################################################
# 2ND OUTBOUND SESSION
[SESSION_OUTBOUND2]
begin_string=FIXT.1.1
default_app_ver_id=7
sender_comp_id=ROUTER
target_comp_id=OUTBOUND2
heartbeat_interval_seconds=10
throttle_window_in_milliseconds=1000
throttle_limit=100
sequence_store_file_path=serialisations/OUTBOUND2/sequence.store
incoming_message_serialisation_path=serialisations/OUTBOUND2/messages_incoming
outgoing_message_serialisation_path=serialisations/OUTBOUND2/messages_outgoing