[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=stores/client1
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DefaultApplVerID=7
PreserveMessageFieldsOrder=N
SocketNodelay=Y
SocketSendBufferSize=212992
SocketReceiveBufferSize=212992

[SESSION]
BeginString=FIXT.1.1
SenderCompID=CLIENT1
SenderSubID=SNDR_SUB
TargetCompID=EXECUTOR
TargetSubID=SRVR_SUB
# CHANGE ACCORDINGLY
SocketConnectHost=192.168.10.100
#SocketConnectHost=127.0.0.1
SocketConnectPort=5001
# CHANGE ACCORDINGLY
SocketBindAddress=192.168.10.103
HeartBtInt=60
TransportDataDictionary=../../tests/dictionaries/FIXT11.xml
AppDataDictionary=../../tests/dictionaries/FIX50.xml
PersistMessages=N
