client_count=8
serialised_file_max_size=67108864
primary_address=127.0.0.1
primary_port=5001
################################################
# LLFIX singleton engine
[ENGINE]
log_level=ERROR
log_file=log.txt