###########################################################
# LLFIX SINGLETON ENGINE
[ENGINE]
log_level=DEBUG
log_file=log.txt
management_server_port=5043
management_server_nic_ip=127.0.0.1

###########################################################
# FIXCLIENT INSTANCE
[EXAMPLE_CLIENT]
#cpu_core_id=2
primary_address=127.0.0.1
primary_port=5001
secondary_address=127.0.0.1
secondary_port=5001
#nic_address=YOUR_NIC_IP
#nic_name=YOUR_NIC_NAME

###########################################################
# FIXCLIENT SESSION
[EXAMPLE_SESSION]
application_dictionary_path=./FIX44_reduced.xml
begin_string=FIX.4.4
sender_comp_id=CLIENT1
target_comp_id=EXECUTOR
heartbeat_interval_seconds=5
throttle_window_in_milliseconds=1000
throttle_limit=100
sequence_store_file_path=sequence.store
incoming_message_serialisation_path=messages_incoming
outgoing_message_serialisation_path=messages_outgoing