client_count=8
serialised_file_max_size=67108864
###########################################################
# LLFIX SINGLETON ENGINE
[ENGINE]
log_level=INFO
log_file=log.txt

###########################################################
# FIXSERVER INSTANCE
[TEST_SERVER]
cpu_core_id=10
accept_port=5001
#nic_address=192.168.10.103