# Passing to onload executable : onload --profile=./onload_profile.cfg <app_executable>
#####################################
# POLLING
EF_POLL_USEC=-1
EF_EPOLL_SPIN=0

#####################################
# PACKETS
EF_MAX_PACKETS=100000
EF_MAX_RX_PACKETS=75000
EF_MAX_TX_PACKETS=25000

#####################################
# DELAYED ACKS
EF_TCP_FASTSTART_INIT=0
EF_TCP_FASTSTART_IDLE=0

#####################################
# OTHERS
EF_TCP_CLIENT_LOOPBACK=1
EF_NAME=BM
